.error {
    color: red;
}

.body-login {
    background-image: url('dat/login_bg.jpg'); /* Replace with your image path */
    background-size: cover; /* Or contain, depending on your needs */
    background-repeat: no-repeat;
}

.card-login {
    margin-top: 30% !important;
}
nav {
    background-color: rgb(40, 62, 86) !important;
}
#logo {
    margin-top: -5px;
}